package view

templ Layout() {
<html>
<head>
	<title>Search Engine GO</title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<div class="container">
		{ children... }
	</div>
</body>
</html>
}