package view

templ SearchPage() {
	@Layout() {
		<div class="search-page">

			<h1 class="logo">Search Engine GO</h1>

			<form action="/search" method="GET">
				<input
					type="text"
					name="q"
					placeholder="Search the web..."
					class="search-input"
				/>

				<button class="search-button">
					Search
				</button>
			</form>

		</div>
	}
}